{
  "id": "5d2c1430-bda1-4f91-81b6-ed01befa5d2b",
  "name": "GOBI",
  "code": "AQ-GOBI",
  "vendor_status": "Active",
  "language": "English",
  "erp_code": "AQ-GOBI-HIST",
  "payment_method": "EFT",
  "access_provider": true,
  "governmental": true,
  "licensor": true,
  "material_supplier": true,
  "claiming_interval": 30,
  "discount_percent": 10,
  "expected_activation_interval": 1,
  "expected_invoice_interval": 5,
  "renewal_activation_interval": 1,
  "subscription_interval": 365,
  "liable_for_vat": false,
  "tax_id": "TX-GOBI-HIST",
  "tax_percentage": 5,
  "vendor_names": [
    {
      "id": "3573f812-8d0e-4bb5-a03f-85038fc25865",
      "value": "YBP",
      "description": "AKA"
    }
  ],
  "vendor_currencies": [
    {
      "id": "2ef2bb27-6969-4754-8fca-d096b65e5034",
      "currency": "USD"
    },
    {
      "id": "6adf80a4-fad7-4b50-ac71-91f549129a11",
      "currency": "CAD"
    },
    {
      "id": "dbab1dae-0186-49a6-b92f-5079ba2a88fd",
      "currency": "EUR"
    }
  ],
  "vendor_interfaces": [
    {
      "id": "d50157ac-bb1e-4aee-9752-d153a9f18750",
      "name": "Sales Portal",
      "uri": "https://www.gobi3.com/Pages/Login.aspx",
      "username": "my_user",
      "password": "my_password",
      "notes": "This is the store-front for GOBI.",
      "available": true,
      "delivery_method": "Online",
      "statistics_format": "PDF",
      "locally_stored": "",
      "online_location": "",
      "statistics_notes": ""
    }
  ],
  "agreements": [
    {
      "id": "2b9a6c61-5247-405f-91cd-14781a8324c6",
      "discount": 10,
      "name": "History Follower Incentive",
      "notes": "",
      "reference_url": "http://my_sample_agreement.com"
    }
  ],
  "accounts": [
    {
      "id": "44477d2c-04a2-4f55-aea5-7b11d005c8f0",
      "name": "History Account",
      "payment_method": "EFT",
      "account_no": "GOBI-HIST-12",
      "lib_ven_acct_status": "Active",
      "description": "This is my account description.",
      "contact_info": "Some basic contact information note.",
      "appsystem_no": "FIN-GOBI-HIST-12",
      "notes": "",
      "library_code": "My Library",
      "library_edi_code": "MY-LIB-1"
    }
  ],
  "edi_info": {
    "vendor_edi_code": "AQ-GOBI-HIST",
    "vendor_edi_type": "014/EAN",
    "lib_edi_code": "MY-LIB-1",
    "lib_edi_type": "014/EAN",
    "edi_naming_convention": "",
    "prorate_tax": true,
    "prorate_fees": true,
    "send_acct_num": true,
    "support_order": true,
    "support_invoice": true,
    "notes": "",
    "ftp_format": "SFTP",
    "ftp_mode": "ASCII",
    "ftp_conn_mode": "Active",
    "ftp_port": "22",
    "server_address": "http://127.0.0.1",
    "username": "edi_username",
    "password": "edi_password",
    "order_directory": "/path/to/order/directory",
    "invoice_directory": "/path/to/invoice/directory",
    "send_to_emails": "email1@site.com, email2@site.com",
    "notify_all_edi": true,
    "notify_invoice_only": true,
    "notify_error_only": false
  },
  "job": {
    "is_scheduled": false,
    "start_date": "2017-23-05T07:23:00-07",
    "time": "05:00:30-07",
    "is_monday": false,
    "is_tuesday": false,
    "is_wednesday": false,
    "is_thursday": false,
    "is_friday": false,
    "is_saturday": false,
    "is_sunday": false,
    "scheduling_notes": ""
  },
  "addresses": [
    {
      "id": "a5b4b5fb-f742-4c5f-8037-ccab33d09d9d",
      "address": {
        "id": "418496cd-0bb8-405d-a6d3-eb852c14a914",
        "address_line_1": "10 Estes Street",
        "address_line_2": "",
        "city": "Ipswich",
        "region": "MA",
        "postal_code": "01938",
        "country": "USA"
      },
      "categories": [
        {
          "id": "24f94977-d831-4fb8-b7f1-be601c412616",
          "value": "Returns"
        },
        {
          "id": "b1d9d689-28d2-4267-95fc-1c5f6c066655",
          "value": "Payments"
        },
        {
          "id": "b3809575-2d15-436b-9277-e7606f3318a1",
          "value": "Customer Service"
        },
        {
          "id": "2edd63f1-b65a-4e45-881c-5d7e364c1f5d",
          "value": "Shipments"
        }
      ],
      "language": "en",
      "san_code": "1234567"
    }
  ],
  "phone_numbers": [
    {
      "id": "1db27e77-59ed-4bd1-b99d-0c31a2d3b011",
      "phone_number": {
        "id": "14610942-89d5-44cb-9e71-d98fa6bd3fb1",
        "country_code": "US",
        "area_code": "978",
        "phone_number": "9999999"
      },
      "categories": [
        {
          "id": "24f94977-d831-4fb8-b7f1-be601c412616",
          "value": "Returns"
        },
        {
          "id": "b1d9d689-28d2-4267-95fc-1c5f6c066655",
          "value": "Payments"
        }
      ],
      "language": "en-us"
    }
  ],
  "emails": [
    {
      "id": "a1a1d87d-3ec4-4edc-aa14-62dc8f233ce6",
      "email": {
        "id": "82742739-57bd-4f47-8f57-323842f0e77f",
        "value": "noreply@folio.org"
      },
      "categories": [
        {
          "id": "b3809575-2d15-436b-9277-e7606f3318a1",
          "value": "Customer Service"
        },
        {
          "id": "2edd63f1-b65a-4e45-881c-5d7e364c1f5d",
          "value": "Shipments"
        }
      ],
      "language": "en-us"
    }
  ],
  "contacts": [
    {
      "id": "91e8b40a-77be-482c-ba59-46ba2d4450f7",
      "language": "en-us",
      "contact_person": {
        "id": "a4443a51-1a5d-4534-8046-c8822750b9ab",
        "prefix": "Director",
        "first_name": "Nick",
        "last_name": "Fury",
        "language": "en-us",
        "notes": "SHIELD's Big Kahuna",
        "phone_number": {
          "id": "14610942-89d5-44cb-9e71-d98fa6bd3fb1",
          "country_code": "US",
          "area_code": "978",
          "phone_number": "9999999"
        },
        "email": {
          "id": "93a157c0-bfd0-48bf-95ae-827957d6b021",
          "value": "noreply@folio.org"
        },
        "address": {
          "id": "bd2daf19-1d02-450c-ab27-4edbd85e8947",
          "address_line_1": "10 Estes Street",
          "address_line_2": "",
          "city": "Ipswich",
          "region": "MA",
          "postal_code": "01938",
          "country": "USA"
        }
      },
      "categories": []
    }
  ],
  "notes": []
}