{
  "id": null,
  "name": "GOBI",
  "code": "AQ-GOBI",
  "description": "This is Yankee Book Peddler.",
  "vendor_status": "Active",
  "language": "en-us",
  "erp_code": "AQ-GOBI-HIST",
  "payment_method": "EFT",
  "access_provider": true,
  "governmental": true,
  "licensor": true,
  "material_supplier": true,
  "claiming_interval": 30,
  "discount_percent": 10,
  "expected_activation_interval": 1,
  "expected_invoice_interval": 5,
  "renewal_activation_interval": 1,
  "subscription_interval": 365,
  "liable_for_vat": false,
  "tax_id": "TX-GOBI-HIST",
  "tax_percentage": 5,
  "san_code": "1234567"
}
